# Insurance Controlling Dashboard – Dataset Generation

This notebook generates a synthetic dataset for a **Financial Performance & Cost Controlling Dashboard** for a medium-sized insurance company.

The dataset includes:

1. Dim_Date – calendar table
2. Dim_Department – 10 insurance departments
3. Fact_Financials – 3 years of monthly actuals
4. Fact_Budget – 3 years of monthly budget data

The dataset is designed to be used in Power BI for building KPIs such as:
- Underwriting Profit
- Operating Profit
- Loss Ratio
- Expense Ratio
- Combined Ratio
- Budget vs Actual Variance

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import os

# Create folder to save CSVs
os.makedirs("Insurance_Controlling_Dashboard/data", exist_ok=True)

In [2]:
# Date range for 3 years: Jan 2022 - Dec 2024
dates = pd.date_range(start='2022-01-01', end='2024-12-31', freq='D')

dim_date = pd.DataFrame({
    'Date': dates,
    'Year': dates.year,
    'Quarter': dates.quarter,
    'Month': dates.month,
    'MonthName': dates.strftime('%b'),
    'Day': dates.day
})

dim_date.to_csv('Insurance_Controlling_Dashboard/data/dim_date.csv', index=False)
dim_date.head()

        Date  Year  Quarter  Month MonthName  Day
0 2022-01-01  2022        1      1       Jan    1
1 2022-01-02  2022        1      1       Jan    2
2 2022-01-03  2022        1      1       Jan    3
3 2022-01-04  2022        1      1       Jan    4
4 2022-01-05  2022        1      1       Jan    5

In [3]:
departments = [
    "Underwriting",
    "Claims",
    "Finance",
    "Sales & Distribution",
    "IT & Operations",
    "Customer Service",
    "Reinsurance",
    "Actuarial",
    "Compliance",
    "Marketing"
]

dim_department = pd.DataFrame({
    'DepartmentID': range(1, len(departments)+1),
    'DepartmentName': departments,
    'CostCenter': ['CC'+str(i) for i in range(1, len(departments)+1)]
})

dim_department.to_csv('Insurance_Controlling_Dashboard/data/dim_department.csv', index=False)
dim_department.head()

   DepartmentID        DepartmentName CostCenter
0             1          Underwriting        CC1
1             2                Claims        CC2
2             3               Finance        CC3
3             4  Sales & Distribution        CC4
4             5       IT & Operations        CC5

In [4]:
np.random.seed(42)

# Define accounts by category
income_accounts = ["Gross Written Premium", "Net Earned Premium", "Reinsurance Recoveries", "Investment Income", "Commission Income"]
claims_accounts = ["Claims Paid", "Claims Incurred", "Loss Adjustment Expenses"]
expense_accounts = ["Staff Costs", "IT Expenses", "Marketing", "Office Costs", "Depreciation", "Professional Services"]

# Create empty list to hold rows
rows = []

for date in pd.date_range(start='2022-01-01', end='2024-12-31', freq='MS'):  # monthly data
    for dept_id in dim_department['DepartmentID']:
        # Income
        for acc in income_accounts:
            amount = np.random.randint(10000, 500000)
            rows.append([date, dept_id, acc, "Income", amount])
        # Claims
        for acc in claims_accounts:
            amount = np.random.randint(5000, 300000)
            rows.append([date, dept_id, acc, "Claims", amount])
        # Expenses
        for acc in expense_accounts:
            amount = np.random.randint(1000, 100000)
            rows.append([date, dept_id, acc, "Expense", amount])

fact_financials = pd.DataFrame(rows, columns=['Date','DepartmentID','Account','Category','Amount'])
fact_financials.to_csv('Insurance_Controlling_Dashboard/data/fact_financials.csv', index=False)
fact_financials.head()

        Date  DepartmentID                 Account Category  Amount
0 2022-01-01             1   Gross Written Premium   Income  131958
1 2022-01-01             1      Net Earned Premium   Income  156867
2 2022-01-01             1  Reinsurance Recoveries   Income  141932
3 2022-01-01             1       Investment Income   Income  375838
4 2022-01-01             1       Commission Income   Income  269178

In [5]:
rows_budget = []

for date in pd.date_range(start='2022-01-01', end='2024-12-31', freq='MS'):
    for dept_id in dim_department['DepartmentID']:
        for acc in income_accounts + claims_accounts + expense_accounts:
            budget_amount = np.random.randint(5000, 400000)
            rows_budget.append([date.year, date.month, dept_id, acc, budget_amount])

fact_budget = pd.DataFrame(rows_budget, columns=['Year','Month','DepartmentID','Account','BudgetAmount'])
fact_budget.to_csv('Insurance_Controlling_Dashboard/data/fact_budget.csv', index=False)
fact_budget.head()

   Year  Month  DepartmentID                 Account  BudgetAmount
0  2022      1             1   Gross Written Premium        237892
1  2022      1             1      Net Earned Premium        385172
2  2022      1             1  Reinsurance Recoveries         44178
3  2022      1             1       Investment Income        299965
4  2022      1             1       Commission Income         21999

# Next Steps

1. Open Power BI Desktop.
2. Import the CSV files from the `data` folder:
   - dim_date.csv
   - dim_department.csv
   - fact_financials.csv
   - fact_budget.csv
3. Build your data model:
   - fact_financials → Dim_Date (Date)
   - fact_financials → Dim_Department (DepartmentID)
   - fact_budget → Dim_Date (Year & Month, create calculated date if needed)
   - fact_budget → Dim_Department (DepartmentID)
4. Start building your dashboard:
   - KPI cards for Underwriting Profit, Operating Profit, Loss Ratio, Combined Ratio, Expense Ratio
   - Trend charts for Premiums, Claims, Expenses
   - Budget vs Actual variance charts
   - Department drill-downs